{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}
<h1>Records</h1>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Sport</th>
        <th scope="col">Position</th>
        <th scope="col">Assessment</th>
        <th scope="col">Result</th>
        <th scope="col">Notes</th>
        <th scope="col">Date</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>
        {% if records %}
            {% for record in records %}
            <tr>
                <td>{{ record.first_name }}
                {{ record.last_name }}</td>
                <td>{{ record.sport }}</td>
                <td>{{ record.position }}</td>
                <td>{{ record.assessment }}</td>
                <td>{{ record.assessment_result }} {{ record.assessment_units }}</td>
                <td>{{ record.assessment_notes }}</td>
                <td>{{ record.created_at }}</td>
                <td><a href="{% url 'record' record.id%}">{{ record.id }}</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>



{% else %}

<h1><center>Welcome to SPARK</center></h1>
<h6><center>Spire Performance Assessment Record Keeper</center></h6>
<br/>
<h2><center>Please Log In</center></h2>
{% endif %}
{% endblock %}