{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
<div class="card" style="width: 18rem;">
    <div class="card-header">
        Individual Test Information
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ individual_record.first_name }} {{ individual_record.last_name }}</h5>
      <p class="card-text">{{ individual_record.sport }} / {{ individual_record.position }} <br/>Test ID #{{ individual_record.id }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">This test was performed on {{ individual_record.created_at }}. </li>
      <li class="list-group-item"><strong>Test: </strong>{{ individual_record.assessment }}</li>
      <li class="list-group-item"><strong>Result: </strong>{{ individual_record.assessment_result }} {{ individual_record.assessment_units }}</li>
      <li class="list-group-item"><strong>Note: </strong>{{ individual_record.assessment_notes }}</li>
    </ul>
  </div>
  <br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'update_record' individual_record.id %}" class="btn btn-info">Edit</a>
<a href="{% url 'delete_record' individual_record.id %}" class="btn btn-danger">Delete</a>
</div>
{% endblock %}